.body{
    background-color: #FAFAFA;
}
.container{
    max-width: 960px;
}
.post_div{
    max-width: '610px';
    border: '1px solid #DBDBDB';
}
.details_div{
    background-color: '#FAFAFA';
}
.footer_links{
    list-style-type: none;
    display: inline-block;
    color: #DEDEDE;
    font-size: 10px;
    padding: 0px 2px;
}
.footer_links a{
    color: #DEDEDE; 
}
.copyright{
    color: #DEDEDE;
    font-size: 12px;
    margin-left: 20px;
}