.full_post{
    border: 1px solid #dbdbdb;
}
.above_picture{
    display: flex;
    align-items: center;
    width: 620px;
    padding: 10px;
    border-bottom: 1px solid #dbdbdb;
}
.image_div img{
    border-radius: 50%;
}
.name_div a{
    margin-left: 20px;
    color: #303030;
    font-weight: 600;
    font-size: 14px;
}
.three_dots{
    margin-left: auto;
}
.three_dots button{
    border: 0px solid #ffffff;
    background-color: #ffffff;
}
.like_com_share_btn div span button{
    border: 0px solid transparent;
    background-color: #ffffff;
    padding: 10px;
}
.like_com_share_btn div span button i{
    color: #a7a6a6;
    font-size: 24px;
}